<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Journalapp.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/images/logo-no-shadow.svg" type="image/x-icon"/>
</head>
<body style="overflow-x: hidden;">
 
    <header style="height: 70px;">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom mb-0">

            <div class="container-fluid">
             <a class="navbar-brand" href="#">
    <img class="img-fluid" src="~/images/logo-no-shadow.svg"  height="30" width="30" alt="">
    <a class="text-dark text-logo" href="#">Журнал классного <br> руководства</a>
  </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark text-menu" href="#"></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark text-menu" href="#"></a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark text-menu" href="#"></a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark text-menu" href="#"></a>
                        </li>
                    </ul>
                    <div id="LoginPartial">
                    <partial name="_LoginPartial"/>
                    </div>
                </div>
            </div>
        </nav>
    </header>
   @* <div class="wrapper container-fluid"> *@
        <aside role="complementary">
  <div class="menu card win">
    <div class="container border-bottom">
    <h4 id="menuHeader">Навигация</h4>
    </div>
    <nav class="menu-list">
        <ul>
        <li>
        <a href="#">Социальный паспорт</a>
        </li>
        <li>
        <a asp-area="" asp-controller="Student" asp-action="StudentList" >Список обучающихся</a>
        </li>
        <li>
        <a href="#">Лист здоровья</a>
        </li>
        <li>
        <a href="#">Организация самоуправления</a>
        </li>
        <li>
        <a href="#">Группа риска</a>
        </li>
        <li>
        <a href="#">Сведения о занятости во внеурочное время</a>
        </li>
        <li>
        <a href="#">Участие в различных мероприятиях</a>
        </li>
        <li>
        <a href="#">Воспитательная деятельность</a>
        </li>
        <li>
        <a href="#">График посещения общежития</a>
        </li>
        <li>
        <a href="#">Педагогический контроль</a>
        </li>
        <li>
        <a href="#">Индивидуальная работа</a>
        </li>
        <li>
        <a href="#">Часы общения</a>
        </li>
        <li>
        <a href="#">Родительские собрания</a>
        </li>
    </ul>
    </nav>
  </div>
</aside>

    <div class="container-fluid content" id="content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


        @* </div> *@
    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2022 - МпК - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
