@using Microsoft.AspNetCore.Identity

@inject SignInManager<Emp> SignInManager
@inject UserManager<Emp> UserManager
@inject RoleManager<IdentityRole> RoleManager

@{
    var user = await UserManager.GetUserAsync(User);
}

<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Journalapp.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/images/logo-no-shadow.svg" type="image/x-icon"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body style="overflow-x: hidden;">
    <header style="height: 70px;">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom mb-0">
            <div class="container-fluid">
                <a class="navbar-brand" href="#">
                    <img class="img-fluid" src="~/images/logo-no-shadow.svg"  height="30" width="30" alt="">
                    <a class="text-dark text-logo" href="#">Журнал классного <br> руководства</a>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            @if (SignInManager.IsSignedIn(User))
                            {
                                @if(User.IsInRole(WC.AdminRole))
                                {
                                    <a class="nav-link text-dark text-menu" href="/admin">Панель администратора</a>
                                }
                            }
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark text-menu" href="#"></a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark text-menu" href="#"></a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark text-menu" href="#"></a>
                        </li>
                    </ul>
                    <div id="LoginPartial">
                        <partial name="_LoginPartial"/>
                    </div>
                </div>
            </div>
        </nav>
    </header>

    <aside role="complementary">
        <div class="menu card win">
            <div class="container border-bottom">
                <h4 id="menuHeader">Навигация</h4>
            </div>
            <nav class="menu-list">
                <ul>
                    <li>
                        <a href="#">Социальный паспорт</a>
                    </li>
                    <li>
                        <a href="/Student/StudentList">Список обучающихся</a>
                    </li>
                    <li>
                        <a href="/Student/StudHealthGroups">Лист здоровья</a>
                    </li>
                    <li>
                        <a href="/Student/PositionsList">Организация самоуправления</a>
                    </li>
                    <li>
                        <a href="/Student/StudOfRiskGroup">Группа риска</a>
                    </li>
                    <li>
                        <a href="/Business/BusinessList">Сведения о занятости во внеурочное время</a>
                    </li>
                    <li>
                        <a href="/StudentsOfEvent/StudOfEventList">Участие в различных мероприятиях</a>
                    </li>
                    <li>
                        <a href="#">Воспитательная деятельность</a>
                    </li>
                    <li>
                        <a href="#">График посещения общежития</a>
                    </li>
                    <li>
                        <a href="#">Педагогический контроль</a>
                    </li>
                    <li>
                        <button class="btn text-dark text-menu rounded collapsed" data-bs-toggle="collapse" data-bs-target="#customize-collapse" aria-expanded="false">
                            Индивидуальная работа
                        </button>

                        <div class="collapse" id="customize-collapse">
                            <ul>
                                <li><a href="#" >Со студентами</a></li>
                                <li><a href="#">С родителями</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </nav>
        </div>
    </aside> 

    <div class="container-fluid content" id="content">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container text-center">
            &copy; 2022 - МпК - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    


    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.2.1/dist/jquery.min.js" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/jquery.maskedinput@1.4.1/src/jquery.maskedinput.min.js" type="text/javascript"></script>
     <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/select2@4.0.13/dist/js/select2.min.js"></script>

    <script type="text/javascript">
        jQuery(function ($) {
            $("#Phone").mask("+7(999)999-99-99");
        });
    </script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
