/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
  margin: auto 5px 0 auto;

}
@media (max-width: 480px) {
  .navbar-brand {
    float: none;
    display: block;
    overflow: hidden;
  }
  }

.navbar{
  font-weight: normal;
  font-family: 'Arial', monospace;
  font-size: 14px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.text-logo{
  text-decoration: none;
  padding-right: 10px;
  text-align: center;
  padding-left: -2px;
  font-family: 'Century Gothic', monospace;
  font-weight: 600;
  padding-bottom: 0;
}
.text-menu{
  font-family: Arial;
  font-weight: normal;
}

a {
  color: #0077cc;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}


.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}

img.img-fluid{
  height: 40;
  padding-right: 0;
}

/* ---------------------------------------------------
  SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
  display: flex;
  width: 100%;
  align-items: stretch;
}

#sidebar {
  min-width: 250px;
  max-width: 250px;
  background: #FEFEFE;
  transition: all 0.3s;
}

#sidebar.active {
  margin-left: -250px;
}


#sidebar ul.components {
  padding: 20px 0;
  border-bottom: 1px solid #e7e8f2;
}

#sidebar ul p {
  padding: 10px;
}

#sidebar ul li a {
  padding: 10px;
  display: block;
}

#sidebar ul li a:hover {
  color: #7386D5;
  background: #e7e8f2;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
  background: #323C8D;
  color: #e7e8f2;
}

a[data-toggle="collapse"] {
  position: relative;
}

.dropdown-toggle::after {
  display: block;
  position: absolute;
  top: 50%;
  right: 20px;
  transform: translateY(-50%);
}

ul ul a {
  font-size: 0.9em !important;
  padding-left: 30px !important;
  background: #e7e8f2;
}


a.article,
a.article:hover {
  background: #6d7fcc !important;
  color: #fff !important;
}

/* ---------------------------------------------------
  CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}

/* ---------------------------------------------------
  MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
  #sidebar {
      margin-left: -250px;
  }
  #sidebar.active {
      margin-left: 0;
  }
  #sidebarCollapse span {
      display: none;
  }
}