@{
    ViewData["Title"] = "Журнал";
}
@{
    Layout = "_Layout";
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/webapp.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/images/logo-no-shadow.svg" type="image/x-icon"/>
</head>
<body>
    
    <div class="card" id="win-reg" style="width: 37rem;">
        <div class="row centered" style="padding-top: 10px;">
       <div class="input-group ">
    <img class="img-fluid" src="~/images/logo-no-shadow.svg" style="margin-right: 5px;"  height="40" width="30" alt="">
    <a class="text-dark text-logo" href="#">Журнал классного <br> руководства</a>
    </div>

  <div class="card-body">
<input type="login" class="form-control" placeholder="Логин" aria-label="Login">
  <input type="password" class="form-control" placeholder="Пароль" aria-label="Password">
    <a href="#" class="btn btn-primary">Войти</a>
  </div>
</div>
</div>
</body>
