@model LoginViewModel
@{
    ViewData["Title"] = "Журнал";
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/webapp.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/images/logo-no-shadow.svg" type="image/x-icon"/>
</head>
<body>
   <form asp-area="Admin" asp-controller="Home" asp-action="Index" method="post" asp-route-returnUrl="@ViewBag.returnUrl">
            <div asp-validation-summary="All"></div>
    <div class="card" id="win-reg" style="width: 37rem;">
        <div class="row centered" style="padding-top: 10px;">
       <div class="input-group" id="headAuthWin">
    <img class="img-fluid" src="~/images/logo-no-shadow.svg" style="margin-right: 5px;"  height="40" width="30" alt="">
    <a class="text-logo text-dark" href="#">Журнал классного <br> руководства</a>
    </div>

  <div class="card-body">
<input class="form-control" placeholder="Логин" aria-label="Login" asp-for="UserName">
                <span asp-validation-for="UserName"></span>
  <input class="form-control" placeholder="Пароль" aria-label="Password" asp-for="Password">
                  <span asp-validation-for="Password"></span>
                                  <label asp-for="RememberMe"></label>
                <input asp-for="RememberMe" />
                <span asp-validation-for="RememberMe"></span>
            </div>
            <div>
    <input type="submit" class="btn btn-primary" value="Войти">
  </div>
</div>
</div>
   </form>
</body>
