@{
    ViewData["Title"] = "Панель администратора";
}
<div class="flex-container">
<div class="card win" style="width: 18rem;">
  <img src="~/images/GrayBg.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Справочная информация</h5>
    <p class="card-text">Редактирование справочной информации</p>
     <ul class="card-ul">
        <li>
            <a href="#" class="link-secondary">Студенческие объединения</a>
        </li>
         <li>
            <a href="#" class="link-secondary">Группы здоровья</a>
        </li> 
        <li>
            <a href="#" class="link-secondary">Направления деятельности</a>
        </li>
         <li>
            <a href="#" class="link-secondary">Мероприятия (различные олимпиады)</a>
        </li> 
        <li>
            <a href="#" class="link-secondary">Общежития</a>
        </li>
         <li>
            <a href="#" class="link-secondary">Отделения</a>
        </li> 
        <li>
            <a href="#" class="link-secondary">Группы риска</a>
        </li>
         <li>
            <a href="#" class="link-secondary">Спрециальности</a>
        </li> 
        <li>
            <a href="#" class="link-secondary">Студенческие должности внутри группы</a>
        </li>
         <li>
            <a href="#" class="link-secondary">Виды нарушений</a>
        </li> 
    </ul>
  </div>
</div>

<div class="card win" style="width: 18rem;">
  <img src="~/images/BlueBg.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Пользователи</h5>
    <p class="card-text">Информация о преподавателях</p>
    <ul class="card-ul">
        <li>
            <a class="link-secondary" asp-area="Admin" asp-controller="Emp" asp-action="EmpList">Список пользователей</a>
        </li>
         <li>
             <a href="#" class="link-secondary">Список ролей</a>
        </li> 
    </ul>
  </div>
</div>

<div class="card win" style="width: 18rem;">
  <img src="~/images/BezhBg.jpg" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">Студенты</h5>
    <p class="card-text">Информация о студентах и группах</p>
    <ul class="card-ul">
        <li>
            <a href="#" class="link-secondary">Список групп</a>
        </li>
         <li>
            <a href="#" class="link-secondary">Вернуться в журнал</a>
        </li> 
    </ul>
  </div>
</div>
</div>