@{
    ViewData["Title"] = "Социальный паспорт";
}
<div class="card win">
<h1> @ViewData["Title"]</h1>
  <div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text " for="inputGroupSelect02">Выберите год</label>
  </div>
  <select class="custom-select" id="inputGroupSelect02">
    <option selected>2022</option>
    <option value="1">2021</option>
    <option value="2">2019</option>
  </select>
</div>
 <input type="submit" class="btn btn-primary mb-3" style="width: 150px;" value="Сформировать">
  <table class="table table-hover table-bordered"><thead>
    <tr>
        <th>Показатели</th>
        <th>Значения</th>
    </tr>
</thead>
<tbody>
    <tr>
        <td>Численность группы</td>
        <td></td>
    </tr>

     <tr>
        <td>Юношей</td>
        <td></td>
    </tr>

    <tr>
        <td>Девушек</td>
        <td></td>
    </tr>

     <tr>
        <td>Проживают в общежитии</td>
        <td></td>
    </tr>
    
     <tr>
        <td>Пед. учет</td>
        <td></td>
    </tr>
    
     <tr>
        <td>Индивидуальные беседы</td>
        <td></td>
    </tr>
    
     <tr>
        <td>Встречи с родителями</td>
        <td></td>
    </tr>
     <tr>
        <td>Количество сирот и детей ОБПР</td>
        <td></td>
    </tr>
      <tr>
        <td>Количество студентов с ОВЗ</td>
        <td></td>
    </tr>
      <tr>
        <td>Количество посещений общежития</td>
        <td></td>
    </tr>
     <tr>
        <td>Количество проведенных классных часов</td>
        <td></td>
    </tr>
     <tr>
        <td>Количество родительских собраний</td>
        <td></td>
    </tr>
     <tr>
        <td>Участие студентов во внеурочной деятельности</td>
        <td></td>
    </tr>
</tbody>
</table>
</div>
</div>
