@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Доступ закрыт";
    Layout=null;
}

<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">Вы не можете открыть эту страницу.</p>
</header>
