@page
@model LoginModel

@{
    ViewData["Title"] = "Журнал";
}
@{
    Layout = null;
}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/webapp.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/images/logo-no-shadow.svg" type="image/x-icon"/>
</head>
<body>
   <form id="account" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
    <div class="card" id="win-reg" style="width: 37rem;">
        <div class="row centered" style="padding-top: 10px;">
       <div class="input-group" id="headAuthWin">
    <img class="img-fluid" src="~/images/logo-no-shadow.svg" style="margin-right: 5px;"  height="40" width="30" alt="">
    <a class="text-logo text-dark" href="#">Журнал классного <br> руководства</a>
    </div>

  <div class="card-body">
<input class="form-control" placeholder="Логин" asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="name@example.com">
                <span asp-validation-for="Input.Email" class="text-danger"></span>
  <input class="form-control" placeholder="Пароль" asp-for="Input.Password" autocomplete="current-password" aria-required="true" placeholder="password">
                 <span asp-validation-for="Input.Password" class="text-danger"></span>

               <div class="checkbox mb-3">
                    <label asp-for="Input.RememberMe" class="form-label">
                        <input class="form-check-input" asp-for="Input.RememberMe" />
                        @Html.DisplayNameFor(m => m.Input.RememberMe)
                    </label>
            </div>
            <div>
                    <button id="login-submit" type="submit" class="w-100 btn btn-lg btn-primary">Вход</button>
                </div>
    </form>
</body>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
