@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация нового работника";
}
<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div class="card win">
        <h1>@ViewData["Title"]</h1>
        <div class="card-body">
            <div class="row"> 
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Email" class="form-control" autocomplete="username" aria-required="true" placeholder="name@example.com" />
                    <label asp-for="Input.Email">Email</label>
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.Password">Пароль</label>                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.ConfirmPassword"></label>                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Surname" class="form-control" aria-required="true"/>
                    <label asp-for="Input.Surname">Фамилия</label>                    <span asp-validation-for="Input.Surname" class="text-danger"></span>
                    </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Name" class="form-control" aria-required="true"/>
                    <label asp-for="Input.Name">Имя</label>
                    <span asp-validation-for="Input.Name" class="text-danger"></span> 
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Patronymic" class="form-control" />
                    <label asp-for="Input.Patronymic">Отчество</label>
                </div>
                <div class="form-floating mb-3">
                    <select class="custom-select" asp-for="Input.Role" asp-items="@Model.RolesDropDown">
                        <option disabled selected>Выберите должность</option>
                    </select>
                    <span asp-validation-for="Input.Role" class="text-danger"></span>
                </div>
                <button id="registerSubmit" type="submit" class="btn btn-primary">Зарегистрировать</button>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
