@page
@model RegisterModel
@{
    ViewData["Title"] = "Регистрация нового работника";
}
<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
    <div class="card win">
        <h1>@ViewData["Title"]</h1>
        <div class="card-body">
            <div class="row"> 
                <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text form-controlRed" asp-for="Input.Email" ></label>
                    </div>
                    <input type="text" class="form-control form-controlRed" asp-for="Input.Email" autocomplete="username" aria-required="true" placeholder="name@example.com">
                </div>
                <span asp-validation-for="Input.Email" class="text-danger"></span>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text form-controlRed" asp-for="Input.Password" ></label>
                    </div>
                    <input type="password" class="form-control form-controlRed" asp-for="Input.Password" autocomplete="new-password" aria-required="true">
                </div>
                <span asp-validation-for="Input.Password" class="text-danger"></span>

                @* <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="form-control" autocomplete="new-password" aria-required="true" placeholder="password" />
                    <label asp-for="Input.ConfirmPassword"></label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div> *@

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text form-controlRed" asp-for="Input.Surname" ></label>
                    </div>
                    <input type="text" class="form-control form-controlRed" asp-for="Input.Surname" aria-required="true">
                </div>
                <span asp-validation-for="Input.Surname" class="text-danger"></span>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text form-controlRed" asp-for="Input.Name" ></label>
                    </div>
                    <input type="text" class="form-control form-controlRed" asp-for="Input.Name" aria-required="true">
                </div>
                <span asp-validation-for="Input.Name" class="text-danger"></span>

                <div class="input-group mb-3">
                    <div class="input-group-prepend">
                        <label class="input-group-text form-controlRed" asp-for="Input.Patronymic" ></label>
                    </div>
                    <input type="text" class="form-control form-controlRed" asp-for="Input.Patronymic">
                </div>

                <div class="form-floating mb-3">
                    <select class="custom-select" asp-for="Input.Role" asp-items="@Model.RolesDropDown">
                        <option disabled selected>Выберите должность</option>
                    </select>
                    <span asp-validation-for="Input.Role" class="text-danger"></span>
                </div>
                <button id="registerSubmit" type="submit" class="btn btn-primary">Зарегистрировать</button>
            </div>
        </div>
    </div>
</form>
@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
