@page
@model journalapp.Views.Pages.ListGroup
@{
    ViewData["Title"] = "ListGroup";
}

<h1>@ViewData["Title"]</h1>

<div>
    <h1>Курс</h1>
    <button>Добавить</button>
     <button>Удалить</button>
</div>