@model Student
@{
    ViewData["Title"] = "Добавить студента";
}
<form method="post" asp-action="Create">
  <input asp-for="HealthGroupId" hidden/>
    <input asp-for="PositionId" hidden/>
<div class="card win">

<h1> @ViewData["Title"]</h1>

 <div class="card-body">

    <div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text " asp-for="GroupId"></label>
  </div>
  <select class="custom-select" asp-for="GroupId" asp-items="@ViewBag.GroupsDropDown">
    <option disabled selected></option>
  </select>
</div>
<span asp-validation-for="GroupId" class="text-danger"></span>

    <div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text form-controlRed" asp-for="Surname"></label>
  </div>
  <input type="text" class="form-control form-controlRed" asp-for="Surname">
</div>
   <span asp-validation-for="Surname" class="text-danger"></span>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text form-controlRed" asp-for="Name"></label>
  </div>
  <input type="text" class="form-control form-controlRed" asp-for="Name">
</div>
   <span asp-validation-for="Name" class="text-danger"></span>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text form-controlRed" asp-for="Patronymic"></label>
  </div>
  <input type="text" class="form-control form-controlRed" asp-for="Patronymic">
</div>
   

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text " asp-for="Sex"></label>
  </div>
  <select class="custom-select" asp-for="Sex">
    <option disabled selected></option>
    <option value="М">М</option>
    <option value="Ж">Ж</option>
  </select>
</div>
<span asp-validation-for="Sex" class="text-danger"></span>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text form-controlRed" asp-for="Address"></label>
  </div>
  <input type="text" class="form-control form-controlRed" asp-for="Address">
</div>
<span asp-validation-for="Address" class="text-danger"></span>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text form-controlRed" asp-for="PhoneNum"></label>
  </div>
  <input type="text" class="form-control form-controlRed" asp-for="PhoneNum">
</div>
<span asp-validation-for="PhoneNum" class="text-danger"></span>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text form-controlRed" asp-for="Email"></label>
  </div>
  <input type="text" class="form-control form-controlRed" asp-for="Email">
</div>

  <div class="input-group mb-3">
  <div class="input-group-prepend">
    <div class="input-group-text">
      <input type="checkbox" aria-label="Checkbox for following text input" asp-for="IsCommerce">
    </div>
  </div>
  <label asp-for="IsCommerce"></label>
</div>

  <div class="input-group mb-3">
  <div class="input-group-prepend">
    <div class="input-group-text">
      <input type="checkbox" aria-label="Checkbox for following text input" asp-for="IsExpelled">
    </div>
  </div>
  <label asp-for="IsExpelled"></label>
</div>

  <div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text form-controlRed" asp-for="Note"></label>
  </div>
  <input type="text" class="form-control form-controlRed" asp-for="Note">
</div>

<div class="input-group mb-3">
  <div class="input-group-prepend">
    <label class="input-group-text " asp-for="RoomId"></label>
  </div>
  <select class="custom-select" asp-for="RoomId" asp-items="@ViewBag.RoomsDropDown">
    <option selected></option>
  </select>
</div>

<div class="text-right btn-right">
<a class="btn btn-primary" asp-action="StudentList">Отмена</a>
<input type="submit" class="btn btn-primary" asp-area="" asp-controller="Student" asp-action="Create" value="Сохранить">
</div>

</div>
</div>
</form>

@section Scripts{
  @{<partial name ="_ValidationScriptsPartial"/>}
}